# Ignore local Python virtual environments
venv/
.venv/
env/
ENV/

# Ignore Python cache and compiled files
**/_pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local IDE and system files
.vscode/
.idea/
.git
.gitignore
.DS_Store

# Ignore large datasets or weights
data/
datasets/
models/
*.pt
*.pth
*.h5
*.whl